* {
  box-sizing: border-box;
}

body {
  background-color: rgb(78, 75, 75);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.container {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
  background: #363636;
  margin:2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}
.square:hover {
  transition-duration: 0s;
}